@use '../../abstracts/' as *;

$navbar-padding: 0.6rem;
$navbar-height-full: 100px;
$navbar-height-small: 70px;

$external-button-padding: 0.7em 1.6em;

@keyframes external-button-show {
    0%,
    50% {
        padding: 0;
        font-size: 0;
    }

    100% {
        padding: $external-button-padding;
        font-size: 1rem;
    }
}

@keyframes external-button-hide {
    0%,
    50% {
        padding: $external-button-padding;
        font-size: 1rem;
    }

    100% {
        padding: 0;
        font-size: 0;
    }
}

.navbar {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 7vw;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100vw;
    overflow: hidden;
    height: $navbar-height-full;
    background-color: transparent; // TODO
    transition: height 0.2s ease, background-color 0.2s ease;

    &.small {
        height: $navbar-height-small;
        background-color: black;
    }

    &.mobile {
        padding: 15px 4vw;

        h1 {
            font-size: 1.8rem;
            padding-left: 0;
        }
    }

    nav {
        position: relative;
        padding: 0;
        margin: 0;
    }
}

.navbar-links {
    list-style: none;
    padding-right: $navbar-padding;

    li {
        display: inline-block;
        padding: 0 $navbar-padding;

        a {
            position: relative;
            font-weight: 500;
            font-size: 1.2rem;
            color: white; // TODO
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: grey; // TODO
            }
        }
    }
}

.navbar-indicator {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 0.3rem;
    border-radius: 2rem;
    background-color: $col-accent;
    will-change: width;
    transition: transform 0.3s ease, width 0.32s ease;
}

.external-button {
    margin-left: 2 * $navbar-padding; // TODO change to padding
    transition: transform 0.15s ease, margin-left 0.15s ease-in;
    will-change: margin-left;

    button {
        padding: $external-button-padding;
        border-radius: 2em;
        font-weight: 500;
        font-size: 1rem;
    }

    &.visible button {
        animation: external-button-show 0.3s ease;
    }

    &.hidden {
        transform: scale(0%);
        margin-left: 0;

        button {
            animation: external-button-hide 0.3s ease forwards;
        }
    }
}
