@use '../../abstracts/' as *;

$nav-menu-indicator-translateY: translateY(0.15rem);

.nav-menu {
    @include flex-center;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color 0.3s ease;

    button {
        position: absolute;
        transform: scale(150%);
        bottom: 2rem;
        right: 2rem;
    }

    ul {
        text-align: start;

        li {
            padding: 1.5rem 0 1.5rem 0;
        }
    }

    &.hidden {
        display: none;
    }

    &.hidden * {
        opacity: 0;
        display: none;

        button {
            transition: opacity 0.2s ease;
        }
    }

    &.visible {
        background-color: black; // TODO
    }
}

.nav-menu-link {
    color: white; // TODO
    text-decoration: none;
    font-size: 3em;
    transition: color 0.2s ease;

    // Active section indicator
    &::before {
        content: '';
        display: block;
        position: absolute;
        transform: scale(90%) $nav-menu-indicator-translateY;
        width: 0.3rem;
        height: 1em;
        border-radius: 2rem;
        z-index: 100;
        background-color: $col-accent;
        opacity: 0;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }

    &.active::before {
        opacity: 1;
        transform: translateX(-1.5rem) $nav-menu-indicator-translateY;
    }
}
