$col-accent: rgb(147, 21, 155);
$col-accent-secondary: rgb(31, 98, 255);
$gradient-accent: linear-gradient(to top right, $col-accent, 65%, $col-accent-secondary);
$color-transition: color 5s ease;

$themes: (
    light: (
        col-bg: rgb(255, 255, 255),
        col-fg: rgb(255, 255, 255),
        col-txt: rgb(0, 0, 0),
        col-shadow: rgba(grey, 0.3),
    ),
    dark: (
        col-bg: rgb(0, 0, 0),
        col-fg: rgb(20, 20, 20),
        col-txt: rgb(255, 255, 255),
        col-shadow: rgba(grey, 0.3),
    ),
);
