@use './themes' as *;

// Get a value from available themes
@function getThemeValue($key, $theme) {
    @if not map-has-key($themes, $theme) {
        @error 'Theme #{$theme} does not exist';
    } @else if not map-has-key(map-get($themes, $theme), $key) {
        @error 'Property #{key} does not exist in theme #{$theme}';
    }
    @return map-get(map-get($themes, $theme), $key);
}

// Apply an easing transition
@mixin ease-transition($time: $ease-time, $property: null) {
    transition: $property $time;
    transition-timing-function: $ease-type;
}

// Centered flex
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
