@use './themes' as *;

// Get a value from available themes
@function getThemeValue($key, $theme) {
    @if not map-has-key($themes, $theme) {
        @error 'Theme #{$theme} does not exist';
    } @else if not map-has-key(map-get($themes, $theme), $key) {
        @error 'Property #{key} does not exist in theme #{$theme}';
    }
    @return map-get(map-get($themes, $theme), $key);
}

// Centered flex
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Stacked elements on top of each other
@mixin stack-elements {
    display: grid;

    & > * {
        grid-row: 1;
        grid-column: 1;
    }
}
