@use './abstracts/' as *;
@use './fonts/' as *;

* {
    font-family: Ubuntu, sans-serif;
    text-rendering: optimizeLegibility;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: 70px;
}

:root {
    &[data-theme='light'] {
        --col-bg: #{getThemeValue(col-bg, 'light')};
        --col-fg: #{getThemeValue(col-fg, 'light')};
        --col-txt: #{getThemeValue(col-txt, 'light')};
        --col-shadow: #{getThemeValue(col-shadow, 'light')};
    }

    &[data-theme='dark'] {
        --col-bg: #{getThemeValue(col-bg, 'dark')};
        --col-fg: #{getThemeValue(col-fg, 'dark')};
        --col-txt: #{getThemeValue(col-txt, 'dark')};
        --col-shadow: #{getThemeValue(col-shadow, 'dark')};
    }
}
