@use './abstracts/' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // TODO better transition for colours only? only should be global for theme changing
    // transition: all $ease-time;
    // transition-timing-function: $ease-type;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    &[data-theme='light'] {
        --col-accent: #{getThemeValue(col-accent, 'light')};
        --col-bg: hsl(0 0% 100%);
        --col-fg: hsl(0 0% 0%);
    }

    &[data-theme='dark'] {
        --col-accent: #{getThemeValue(col-accent, 'dark')};
        --col-bg: hsl(0 0% 0%);
        --col-fg: hsl(0 0% 100%);
    }
}
