@use './abstracts/' as *;
@use './fonts/' as *;

// TODO eventually remove unused imports from all scss files
// TODO and remove index.scss and import of those directories that only contain modules

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // TODO better transition for colours only? only should be global for theme changing
    // transition: all $ease-time;
    // transition-timing-function: $ease-type;
}

html {
    scroll-padding-top: 20px;
}

html,
body {
    // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    //     Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: Ubuntu, sans-serif;
    scroll-behavior: smooth;
}

button {
    font-family: inherit;
    font-size: 1em;
}

// a {
//     color: inherit;
//     text-decoration: none;
// }

:root {
    &[data-theme='light'] {
        --col-bg: #{getThemeValue(col-bg, 'light')};
        --col-fg: #{getThemeValue(col-fg, 'light')};
    }

    &[data-theme='dark'] {
        --col-bg: #{getThemeValue(col-bg, 'dark')};
        --col-fg: #{getThemeValue(col-fg, 'dark')};
    }
}
