@use '../../abstracts/' as *;
@use '_modal' as *;

.modal-textbox {
    @include flex-center;
    z-index: 101;
    position: relative;
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px; // TODO themed border radius
    background-color: white; // TODO themed color
    font-weight: bold;
    flex-direction: column;
    transition: transform $transition-duration $transition-function,
        opacity $transition-duration $transition-function, visibility $transition-duration;

    span {
        &[r-glow] {
            text-shadow: 0 0 3px;
        }
    }
}

.hidden {
    transform: scale(1.2);
    opacity: 0;
    visibility: hidden;
}
