@use '../../abstracts/' as *;
@use '_modal' as *;

.modal-background {
    @include flex-center;
    z-index: 100;
    background: rgba(#04040f, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity $transition-duration $transition-function, visibility $transition-duration;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
