@use '../../abstracts/' as *;
@use '_modal' as *;

.modal-textbox {
    @include flex-center;
    z-index: 101;
    position: relative;
    width: clamp(50%, 700px, 90%);
    height: min(50%, 500px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    background-color: var(--col-bg);
    font-weight: bold;
    flex-direction: column;
    transition: transform $transition-duration $transition-function;
    will-change: transform;
    text-align: center;

    span {
        &[r-glow] {
            text-shadow: 0 0 3px;
        }
    }

    h1 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    p {
        font-size: 1.8rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.hidden {
    transform: scale(1.2);
}
