@use '../../abstracts/' as *;

$bg-transition: background 0.5s ease;

.container {
    position: relative;
    padding-top: 5vh;
    width: 100%;
    height: 500vh;
    background: var(--col-bg);
}

.canvas-wrapper {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    will-change: transform;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -5vh;
    background: black;
    opacity: 0;
}

.overlay {
    @include flex-center;
    position: sticky;
    background: black;
    color: white;
    top: 65px;
    width: 100%;
    height: 100vh;
    margin-top: -95vh;
    z-index: 2;
    opacity: 0;
    // Prevent weird opacity conflicts with heading
    will-change: opacity;
    transition: $bg-transition;

    h1 {
        font-size: 7vw;
        position: fixed;
        top: 40vh;
        z-index: 2;
        display: flex;
        user-select: none;
        opacity: 0;
        will-change: opacity;
    }

    // Mobile view
    @media only screen and (max-width: $desktop-min-width) {
        text-align: center;

        h1 {
            font-size: max(50px, 7vw);
            word-wrap: break-word;
        }
    }
}
