@use '../../abstracts/' as *;

.wrapper {
    position: relative;
    width: 100%;
    height: 200vh;
    background: white;
    overflow: hidden;
    // Fix weird black line on widescreen
    margin-top: -2px;
    z-index: 10;
}

.container {
    position: fixed;
    z-index: 2;
    font-size: min(5vw, 6rem);
    font-weight: 300;
    letter-spacing: -4px;
    word-spacing: -5px;
    bottom: 0;
    width: 100%;

    h1 {
        position: absolute;
        width: 100%;
        left: 0.5vw;
        will-change: transform;
    }

    .btn {
        position: relative;
        margin-left: 0.35vw;
    }

    :nth-child(1) {
        bottom: -10.5vh;
    }

    :nth-child(2) {
        bottom: -21.4vh;
    }

    :nth-child(3) {
        bottom: -31.4vh;
    }

    :nth-child(4) {
        bottom: -39.9vh;
    }

    :nth-child(5) {
        bottom: -130vh;
    }

    // Mobile view
    @media only screen and (max-width: $desktop-min-width) {
        text-align: center;
        word-spacing: normal;
        font-size: 9vmin;

        h1 {
            left: -0.4vw;
        }

        .btn {
            padding-left: 4.6%;
        }

        :nth-child(1) {
            bottom: -10vh;
        }

        :nth-child(2) {
            bottom: -19vh;
        }

        :nth-child(3) {
            bottom: -28vh;
        }

        :nth-child(4) {
            bottom: -36vh;
        }

        :nth-child(5) {
            bottom: -130vh;
        }
    }
}

.external-button {
    padding: 75vh 7.3vw;

    @media only screen and (max-width: $desktop-min-width) {
        padding: 87vh 5.3vw;
        position: relative;
    }

    button {
        width: 12em;
        height: 140px;
        padding: 2rem 4.5rem;
        border-radius: 3.9rem;
        font-weight: 500;
        font-size: 2.8rem;
        background-color: black;
        opacity: 1;
        z-index: 3;
        will-change: transform;

        &::before {
            background-image: none;
        }

        &::after {
            background-color: black;
        }

        &:hover {
            &::after {
                background-color: black;
            }
        }

        @media only screen and (max-width: $desktop-min-width) {
            font-size: 2.4rem;
            width: 94%;
            padding: 2rem 2rem;

            * {
                display: none;
            }
        }
    }
}

.canvas {
    width: 100vw;
    height: 100%;
    transform: translateY(54vh);
}
