@use '../../abstracts/' as *;

.container {
    @include flex-center;
}

.img-container {
    transition: transform 0.3s linear;
}

// TODO make the mouse hover movement end smoother

.stacked-img {
    @include stack-elements;
    position: relative;
    width: 18vw;
    margin-right: 0;
    margin-left: auto;
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);

    .fg {
        position: absolute;
        z-index: 2;
    }

    .bg {
        transform: scale(0.85);
        filter: blur(1.5px);
    }
}
