@use '../../abstracts/' as *;

.home {
    @include stack-elements;
    position: relative;
    overflow: hidden;
    background-color: black;
    color: black;
    width: 100%;
    height: 100vh;

    h1,
    p {
        color: white;
        z-index: 80;
        text-shadow: white 0 0 3px;
        position: absolute;
    }

    h1 {
        font-size: min(8rem, 7.5vw);
        padding: min(22vh, 20vh) 7vw;
    }

    p {
        font-size: min(6rem, 6.5vw);
        font-weight: 300;
        padding: min(42vh, 40vw) 7vw;
    }

    .button {
        padding: 75vh 7.3vw;
        position: absolute;

        button {
            width: min(33.5rem, 40vmax);
            height: 14.3vmin;
            padding: 0 4.5rem;
            border-radius: 3.9rem;
            font-weight: 500;
            font-size: min(2.8rem, 3.1vmax);

            * {
                width: min(140px, 9vw);
            }
        }
    }

    // Mobile view
    @media only screen and (max-width: 850px) {
        h1 {
            font-size: 15vw;
            padding: 14vh 5vw;
        }

        p {
            font-size: 13vw;
            font-weight: 300;
            padding: 26vh 5.5vw;
        }

        .button {
            display: none;
        }
    }
}

.about-section {
    position: relative;
    box-shadow: inset 0 15px 15px -15px;
    background-color: var(--col-bg);
    overflow: hidden;
    text-align: center;

    h1,
    h2,
    p {
        transition: $color-transition;
        color: var(--col-txt);
    }

    .inset {
        @include flex-center;
        flex-direction: column;
        padding-top: 6%;
        padding-bottom: 2%;

        // Dots SVG
        svg {
            padding-top: 32vh;
        }

        // Arrow SVGs
        & > div > div > svg {
            width: min(320px, 24.9vw);
        }

        // Mobile view
        @media only screen and (max-width: 850px) {
            padding-top: 15%;

            // Arrow SVGs
            & > div > div > svg {
                display: none;
            }
        }
    }

    p {
        font-size: 1.5rem;
    }

    & > h1 {
        z-index: 1;
        padding-top: 10vh;
        font-size: 6.25vw;
        opacity: 0.15;
        position: relative;

        // Mobile view
        @media only screen and (max-width: 850px) {
            padding-top: 7vh;
            font-size: 50px;

            svg {
                display: none;
            }
        }
    }
}
