@use '../../abstracts/' as *;

.home {
    @include stack-elements;
    position: relative;
    overflow: hidden;
    background-color: black;
    color: black;
    width: 100%;
    height: 100vh;
    z-index: 10;

    h1,
    p {
        color: white;
        z-index: 80;
        text-shadow: white 0 0 3px;
    }

    h1 {
        font-size: min(8rem, 7.5vw);
    }

    p {
        font-size: min(6rem, 6.5vw);
        font-weight: 300;
    }

    .button {
        padding-top: 10vh;

        button {
            width: min(33.5rem, 40vmax);
            height: min(9rem, 9vmin);
            padding: 0 4.5rem;
            border-radius: 3.9rem;
            font-weight: 500;
            font-size: min(2.8rem, 3.1vmax);

            * {
                width: min(140px, 9vw);
            }
        }
    }

    .home-content {
        position: absolute;
        display: flex;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        align-items: center;

        & > div {
            padding-left: 7vw;
        }
    }

    // Mobile view
    @media only screen and (max-width: $desktop-min-width) {
        h1 {
            font-size: min(7rem, 13vw);
        }

        p {
            font-weight: 300;
            font-size: min(4rem, 12vw);
        }

        .button {
            display: none;
        }

        .home-content {
            width: 100%;
            justify-content: center;

            & > div {
                position: absolute;
                padding-left: 0;
                top: 15vh;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

.about-section {
    position: relative;
    box-shadow: inset 0 15px 15px -15px;
    background-color: var(--col-bg);
    overflow: hidden;
    text-align: center;

    h1,
    h2,
    p {
        transition: $color-transition;
        color: var(--col-txt);
    }

    .inset {
        @include flex-center;
        flex-direction: column;
        padding-top: 2%;
        padding-bottom: 2%;

        // Dots SVG
        svg {
            padding-top: 32vh;
        }

        // Arrow SVGs
        & > div > div > svg {
            width: min(320px, 24.9vw);
        }

        // Mobile view
        @media only screen and (max-width: $desktop-min-width) {
            padding-top: 15%;

            // Arrow SVGs
            & > div > div > svg {
                display: none;
            }
        }
    }

    .home-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        will-change: opacity;
    }

    p {
        font-size: 1.5rem;
    }

    & > h1 {
        z-index: 5;
        padding-top: 10vh;
        font-size: 6.25vw;
        position: relative;

        // Mobile view
        @media only screen and (max-width: $desktop-min-width) {
            padding-top: 7vh;
            font-size: 50px;

            svg {
                display: none;
            }
        }
    }
}
